body, html {
  height: 100%;
  margin: 0;
}

ul{
  list-style-position: inside;
}

li{
  padding: 3px;
}

#topTitleText {
  /*Setting the position of the text to be in the middle*/
  color: white;
  font-size: 60px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#titleText {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: absolute; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: wrap;
  padding: 20px;
  text-align: center;
}

#museumImg {
  /* The image used */
  background-image: url("museum.jpeg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibitImgL {
  height: 50%; 
  width: 30%; 
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  margin-right: 0%;
}

.exhibitTextL {
  color: aliceblue;
  margin-top: auto;
  margin-bottom: auto;
  margin-Left: 10%;
  margin-right: 0%;
  width: 40%;
}

.exhibitImgR {
  height: 50%; 
  width: 30%; 
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15%;
}

.exhibitTextR {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25%;
  width: 40%;
}

.grayExhibit {
  /* The image used */
  background-color: rgb(161, 161, 161);

  /* height should fit the content of the Exhibit. */
  height: fit-content; 

  /* Center and scale the image inside nicely */
  display: flex;
}

.blueExhibit {
  /* The image used */
  background-color: #005380;

  /* height should fit the content of the Exhibit. */
  height: fit-content; 

  /* Center and scale the image inside nicely */
  display: flex;
}

.sectionText{
  color: aliceblue;
  padding: 10px;
}

.sectionTextTopMargin{
  color: aliceblue;
  padding: 10px;
  margin-bottom: 0px;
}

.sectionContentText{
  color: aliceblue;
  padding: 10px;
  margin: 0px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.sectionTableContentText{
  color: aliceblue;
  padding: 10px;
  margin: 0px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.sectionDivider {
  margin: 0px;
  background-color: rgb(34, 86, 159);
  text-align: center;
  height: fit-content;
}

.sectionContentDivider {
  margin: 0px;
  background-color: rgb(39, 100, 184);
  text-align: center;
  height: fit-content;
  display: flex;
}

.sectionContentDividerAlt {
  margin: 0px;
  background-color: rgb(28, 82, 157);
  text-align: center;
  height: fit-content;
  display: flex;
}

#credits {
  margin: 0px;
  background-color: black;
  text-align: center;
  height: fit-content;
}

.godImageL {
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
  width: 25%;
}

.godImageR {
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
  width: 25%;
}
